@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #333;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

address {
  font-style: normal;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: top;
}

.hidden {
  display: block;
  position: absolute;
  left: -1000%;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}

#skipNav {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 60;
}

#skipNav a {
  display: block;
  height: 1px;
  margin-bottom: -1px;
  font-size: 1.2em;
  color: #333;
  overflow: hidden;
  text-align: center;
  }

#skipNav a:hover,
#skipNav a:focus,
#skipNav a:active {
  height: auto;
  padding: 10px 0;
  background: #f2f2f2;
}


.wrap {
  width: 100%;
  overflow: hidden;
}

/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

/* header 공통영역 */

/* 나중에 높이는 상황에 따라 지움된다. */
#headerArea {
  height: 210px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  font-family: "Noto Sans KR", sans-serif;
  background: rgba(0, 0, 0, 0.1);
}

#headerArea .headerInner {
  width: 1200px;
  height: 210px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#headerArea h1 {
  margin-top: 50px;
}

#headerArea h1 a {
  display: block;
  width: 216px;
  height: 43px;
  background: url(../images/logo_01.png);
  text-indent: -1000px;
  color: #fff;
  overflow: hidden;
  margin: 0 auto;
}

#headerArea .topMenu {
  position: absolute;
  right: 80px;
  top: 25px;
}

#headerArea .topMenu ul::after {
  content: '';
  display: block;
  clear: both;
}

#headerArea .topMenu ul li {
  float: left;
  margin-left: 20px;
}

/* #headerArea:hover {
  background: rgba(0, 0, 0, 0.3);
} */

#headerArea .topMenu li::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: relative;
  left: 0;
  top: 30px;
  opacity: 0;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}

#headerArea .topMenu li:hover::before {
  transform: scaleX(1);
  opacity: 1;
}

#headerArea .topMenu ul li:nth-child(2)::after {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  background: #fff;
  position: relative;
  left: -10px;
  top: 8px;
}

#headerArea .topMenu a {
  font-weight: 400;
  color: #fff;
  float: right;
}

/* #headerArea #gnb {
  clear: both;
  width: 1200px;
} */

#headerArea #gnb ul {
  margin: 55px 35px 25px;
}

#headerArea #gnb ul::after {
  content: "";
  display: block;
  clear: both;
}

#headerArea #gnb ul li {
  float: left;
  margin: 0px 57px;
  position: relative;
}

#headerArea #gnb li::before {
  content: "";
  display: block;
  width: 130px;
  height: 3px;
  background: #fff;
  position: absolute;
  left: -29px;
  bottom: -33px;
  opacity: 0;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}

#headerArea #gnb li:hover::before {
  transform: scaleX(1);
  opacity: 1;
}

#headerArea #gnb a {
  color: #fff;
  font-size: 1.25em;
  font-weight: 500;
}

/* footer 공통영역 */
#footerArea {
  width: 100%;
  border-top: 1px solid #ccc;
  height: 276px;
  clear: both;
  position: relative;
  background: #fff;
}

#footerArea::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #ccc;
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 10;
}

#footerArea .footerInner {
  width: 1200px;
  margin: 0 auto;
  padding: 25px 0 33px;
}

#footerArea .copy .copyLeft {
  float: left;
}

#footerArea .family {
  width: 250px;
  background: #ccc;
  float: right;
  position: relative;
}

#footerArea .family>a {
  display: block;
  padding: 20px 0 20px 20px;
  background: rgb(232, 232, 232);
  color: #666;
  font-size: 1em;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

#footerArea .family>a:hover {
  background: #666;
  color: #fff;
}

#footerArea .family>a i {
  margin-left: 50px;
}

#footerArea .copy .family ul {
  width: 250px;
  position: absolute;
  top: -310px;
  left: 0;
  display: none;
  z-index: 100;
}

#footerArea .family ul a {
  display: block;
  padding: 20px 0 20px 20px;
  background: #999;
  transition: all 0.5s ease-in-out;
}

#footerArea .family ul a:hover {
  background: #ccc;
}

#footerArea .footerInner ul {
  float: left;
}

#footerArea .footerTopSide {
  clear: both;
  overflow: hidden;
  padding-bottom: 25px;
}

#footerArea .footerTopSide>ul li {
  float: left;
  margin-right: 30px;
  line-height: 30px;
}

#footerArea .footerTopSide ul a:hover {
  color: #01abce;
}

#footerArea .footerTopSide span {
  font-weight: 500;
}

#footerArea .footerTopSide .sns {
  float: right;
}

#footerArea .footerTopSide .sns li {
  float: left;
}

#footerArea .sns a {
  float: left;
  margin-left: 15px;
  width: 32px;
  height: 32px;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
}

#footerArea .sns li:first-child a {
  background: url(../images/sns01.png) no-repeat;
}

#footerArea .sns li:nth-child(2) a {
  background: url(../images/sns02.png) no-repeat;
}

#footerArea .sns li:nth-child(3) a {
  background: url(../images/sns03.png) no-repeat;
}

#footerArea .sns li:last-child a {
  background: url(../images/sns04.png) no-repeat;
}

#footerArea .footerInner .copy {
  padding: 35px 0 0;
}

#footerArea .footerInner .copy::after {
  content: "";
  display: block;
  clear: both;
}

#footerArea .footerInner .copy address {
  margin-top: 25px;
  line-height: 2em;
}

#footerArea .footerInner .copy p {
  margin-top: 5px;
}

.top {
  display: block;
  width: 65px;
  height: 65px;
  background: #1f415c;
  position: fixed;
  left: 50%;
  bottom: 100px;
  margin-left: 650px;
  border-radius: 50%;
  z-index: 100;
  color: #fff;
  line-height: 80px;
  text-align: center;
}

.top:hover {
  animation: topMove 0.6s ease-in-out infinite;
  }

@keyframes topMove {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-30px);
    background-color: rgb(31 65 92 / 70%);
  }
}

.top i {
  font-size: 35px;
}

.top span {
  position: absolute;
  left: -3000%;
  overflow: hidden;
  width: 1px;
  height: 1px;
}